		@charset: "utf-8";
		
		body{
			background-color: background: rgba(158,79,0,1);
			background: -moz-linear-gradient(left, rgba(158,79,0,1) 0%, rgba(240,169,81,1) 50%, rgba(158,79,0,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(158,79,0,1)), color-stop(50%, rgba(240,169,81,1)), color-stop(100%, rgba(158,79,0,1)));
			background: -webkit-linear-gradient(left, rgba(158,79,0,1) 0%, rgba(240,169,81,1) 50%, rgba(158,79,0,1) 100%);
			background: -o-linear-gradient(left, rgba(158,79,0,1) 0%, rgba(240,169,81,1) 50%, rgba(158,79,0,1) 100%);
			background: -ms-linear-gradient(left, rgba(158,79,0,1) 0%, rgba(240,169,81,1) 50%, rgba(158,79,0,1) 100%);
			background: linear-gradient(to right, rgba(158,79,0,1) 0%, rgba(240,169,81,1) 50%, rgba(158,79,0,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e4f00', endColorstr='#9e4f00', GradientType=1 );
		}

		.jumbotron {
			padding: 20px 0 0 0;
			max-height: 210px;
	    	margin-bottom: 0;
	    	font-family: 'Courgette', cursive;
	    }

		.logotext1{
			padding-top: 15px;

		}

		.logotext2{
			
			padding: 0 50px 0 0;
			font-family: 'Courgette', cursive;
			text-align: center;
		}

		.jb2{
	    	display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			justify-content: flex-end;
	    }

		.navbar {
			clear: both;
			max-height: 50px;
      		margin-bottom: 50px;
      		border-radius: 0;
   		}
		.navbar-inverse .navbar-nav > .active > a,
		.navbar-inverse .navbar-nav > .active > a:hover,
		.navbar-inverse .navbar-nav > .active > a:focus {
 			color: #fff;
 			background-color: grey;
		}
